node_modules
bower_components
api-docs

yarn-error.log
declaration
dist
build
tmp
results
logs
pids
pnpm-debug.log
.DS_Store
Thumbs.db

/target
query-engine*
migration-engine*
schema-engine*
libquery_engine*
libquery-engine*
query_engine-windows.dll.node

*tmp.db
# Ignore built ts files
dist/**/*

*.tsbuildinfo
.prisma
.attest
.pnpm-store

# Build
public/css/main.css

.vscode/*
!.vscode/launch.json.default
!.vscode/extensions.json
coverage

.eslintcache

.pnpm-debug.log

esm

dev.db
junit.xml
/output.txt

# API keys and secrets
.env
.envrc.local

# Editors
.idea
*.iml

package.copy.json

*.tgz

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp